<div class="ui padded grid">
    <div class="five wide column" style="overflow:auto; max-height:500px">
        <segment [header]="'エントリ (南/東/上方ベース)'" [collapsed]='false' [withhelp]='true' [helpid]="'spherical-help'">
            <a class="ui blue ribbon label" href="https://github.com/timofeevda/seismic-beachballs-demo" target="_blank">
                <i class="alternate github icon"></i> View on GitHub
            </a>
            <tensor [isCartesian]="flase"></tensor>
        </segment>
        <div class="ui hidden divider"></div>
        <segment [header]="'断層パラメータ (最も近いダブルカップル)'" [collapsable]='false' [withhelp]='true' [helpid]="'sdr-help'">
            <sdr></sdr>
        </segment>
        <div class="ui hidden divider"></div>
        <tensorview></tensorview>
    </div>
    <div class="eleven wide column">
        <div class="row">
            <segment *ngIf="!usgsView.isUSGSView" [header]="'モーメントテンソル'" [collapsable]='false' fit='true' [withhelp]='true' [helpid]="'beachball-help'">
                <fulltensorscene></fulltensorscene>
            </segment>
            <segment *ngIf="usgsView.isUSGSView" [header]="'モーメントテンソル計算済みのイベント'" [collapsable]='false' fit='true' [withhelp]='true' [helpid]="'beachball-help'">
                <map></map>
            </segment>
        </div>
        <div class="ui hidden divider" *ngIf="!usgsView.isUSGSView"></div>
        <div class="row" *ngIf="!usgsView.isUSGSView">
            <div class="ui grid">
                <div class="four wide column">
                    <segment [header]="'等面積投影'" [collapsable]='false' [fit]='true'>
                        <projectedtensorscene [height]='122' [projection]="'equalarea'"></projectedtensorscene>
                    </segment>
                </div>
                <div class="four wide column">
                    <segment [header]="'ウルフネット投影'" [collapsable]='false' [fit]='true'>
                        <projectedtensorscene [height]='122' [projection]="'wulff'"></projectedtensorscene>
                    </segment>
                </div>
                <div class="four wide column">
                    <segment [header]="'正投影'" [collapsable]='false' fit='true'>
                        <projectedtensorscene [height]='122' [projection]="'orthographic'"></projectedtensorscene>
                    </segment>
                </div>
                <div class="four wide column">
                    <segment [header]="'ダブルカップル'" [collapsable]='false' fit='true'>
                        <threedoublecouplescene [height]='122'></threedoublecouplescene>
                    </segment>
                </div>
            </div>
        </div>
    </div>
</div>

<helpopup [id]="'spherical-help'" [header]="'モーメントテンソルのエントリ (南/東/上方ベース)'">
    球面座標(南/東/上方ベース)で表されるモーメントテンソル エントリ。6つの値を使用して、球面座標で3x3の対称テンソルを形成します。 これらの値は、最も近いダブルカップルの走向/傾斜角/すべり角の計算にも使用されます。
</helpopup>

<helpopup [id]="'sdr-help'" [header]="'走向 / 傾斜角 / すべり角'">
    走向(Strike) / 傾斜角(Dip) / すべり角(Rake,Slip)は、地震のメカニズムを説明するために使用されます。モーメントテンソルのエントリに基づいて計算されます。
</helpopup>

<helpopup [id]="'beachball-help'" [header]="'3Dモーメントテンソル'">
    3Dモーメントテンソルの表示機能は、Carl Tape による成果に基づいています。論文および Mathematica スクリプトのリファレンスについては、
    <a href="http://www.giseis.alaska.edu/input/carl/" target="_blank">http://www.giseis.alaska.edu/input/carl/</a>を参照してください。
</helpopup>