<div class="ui form">
    <div class="five fields">
        <div class="field mini">
            <label>開始日時</label>
            <input type="text" [(ngModel)]="queryModel.starttime">
        </div>
        <div class="field mini">
            <label>終了日時</label>
            <input type="text" [(ngModel)]="queryModel.endtime">
        </div>
        <div class="field mini">
            <label>表示件数</label>
            <input type="text" [(ngModel)]="queryModel.limit">
        </div>
        <div class="field">
            <label>&nbsp;</label>
            <button #searchbutton class="ui primary button" type="button" (click)="searchUSGS()">検索</button>
            <div class="ui left red basic label" *ngIf="zeroResults">イベントが見つかりませんでした。</div>
        </div>
        <div class="field">
            <label>画像生成状況:</label>
            <progressbar #progress></progressbar>
        </div>
    </div>
</div>